canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}

body {
    background-image: url("../images/background.gif");
    background-size: cover;
}

#left_choose {
    position: relative;
    left: 100px;
    top: 500px;
}

#right_choose {
    position: relative;
    left: 800px;
    top: 500px;
}

imgfight {
    width: 70px;
    height: 70px;
}